[Unit]
Description=Create AP WiFi hotspot service
After=network.target
Wants=shellinabox.service

[Service]
Type=forking
ExecStart=/usr/bin/create_ap wlan0 end0 jailbreakBox --no-virt --daemon
ExecStop=/usr/bin/create_ap --stop wlan0
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
